<div class="d-pagination-manage">
    <a href="#" {{action pagination.changePrevious}}>&lt;</a>
    {{input class="current-page" value= pagination.currentPage}}
    {{input class="page-size" value= pagination.pageSize}}
    <a href="#" {{action pagination.changeNext}}>&gt;</a>
</div>